In [1]:
import requests
import random
import urllib.parse
from tqdm import tqdm
from time import sleep
import pandas as pd

In [2]:
names = pd.read_csv("foia_names.csv", header='infer') 
names.head()

   original_id       original_name
0            1  KISSINGER, HENRY A
1            2       CARTER, JIMMY
2            3      VANCE, CYRUS R
3            4      FORD, GERALD R
4            5        SADAT, ANWAR

In [3]:
uri_prefix = "https://tools.wmflabs.org/wikidata-reconcile/?query="
query_data = []

In [ ]:
for i in tqdm(range(len(names))):
    n = random.uniform(0, 0.17)
    sleep(n)
    item = names.iloc[i]
    request = uri_prefix + '{"query"%3A"' + urllib.parse.quote_plus(item['original_name']) + '"%2C"type"%3A"Q5"}'
    response = requests.get(request).json()
    match = {}
    result = response.get('result')
    
    if len(result) > 0:
        match_id = result[0].get('id', None)
        match_name = result[0].get('name', None)
        match_score = result[0].get('score', None)
    else:
        match_id = None
        match_name = None
        match_score = None
    query_data.append({ 
        'original_id': item['original_id'], 
        'original_name': item['original_name'],
        'match_id': match_id,
        'match_name': match_name,
        'match_score': match_score
    })

  0%|          | 244/413422 [03:47<101:09:46,  1.13it/s]

In [ ]:
query_df = pd.DataFrame(query_data)

In [ ]:
query_df.head()