In [1]:
import requests
import random
import urllib.parse
from tqdm import tqdm
from time import sleep
import pandas as pd

In [2]:
names = pd.read_csv("foia_names.csv", header='infer') 
names.head()

   original_id       original_name
0            1  KISSINGER, HENRY A
1            2       CARTER, JIMMY
2            3      VANCE, CYRUS R
3            4      FORD, GERALD R
4            5        SADAT, ANWAR

In [3]:
uri_prefix = "https://tools.wmflabs.org/wikidata-reconcile/?query="
matches = []

In [4]:
# for i in tqdm(range(len(names))):
for i in tqdm(range(100)):
    n = random.uniform(0, 0.17)
    sleep(n)
    item = names.iloc[i]
    request = uri_prefix + '{"query"%3A"' + urllib.parse.quote_plus(item['original_name']) + '"%2C"type"%3A"Q5"}'
    response = requests.get(request).json().get('result')
    
    if response:
        match = response[0]
        matches.append([item['original_id'],
                        match.get('id', None), 
                        match.get('name', None), 
                        match.get('score', None)])

100%|██████████| 100/100 [01:24<00:00,  1.23it/s]

In [5]:
match_df = pd.DataFrame(matches, columns=['original_id', 'wiki_id', 'wiki_name', 'match_score'])

In [6]:
match_df.head(100)

    original_id    wiki_id                  wiki_name  match_score
0             1     Q66107            Henry Kissinger     0.500000
1             2     Q23685               Jimmy Carter     0.500000
2             3    Q296661                Cyrus Vance     0.500000
3             4      Q9582                Gerald Ford     0.500000
4             5     Q42013             Anwar as-Sadat     0.500000
5             7    Q959635               Andrew Young     0.500000
6             8      Q1260              Kurt Waldheim     0.500000
7             9      Q9588              Richard Nixon     0.500000
8            10    Q296661                Cyrus Vance     0.500000
9            12    Q146906                 Hussein I.     0.500000
10           13    Q294358         Warren Christopher     0.500000
11           14    Q235699                  Amy Beach     0.035714
12           15    Q219353            Rosalynn Carter     0.500000
13           16    Q128245      Mohammad Reza Pahlavi     0.500000
14           17      Q2516             Helmut Schmidt     0.500000
15           18    Q186525             Julius Nyerere     0.500000
16           20   Q2006144           William E. Simon     0.500000
17           22     Q62988      W. Michael Blumenthal     0.500000
18           23     Q11237         Nelson Rockefeller     0.500000
19           24    Q164535           Mobutu Sese Seko     1.000000
20           25    Q130873             Menachem Begin     0.500000
21           27    Q105480             Kenneth Kaunda     0.500000
22           28   Q1066362        Charles W. Robinson     0.500000
23           29    Q188783               Mosche Dajan     0.500000
24           30    Q671393            David D. Newsom     0.500000
25           31   Q7327552           Richard M. Moose     0.500000
26           32  Q20966290         Éder Antônio Souza     0.166667
27           33      Q1463           Ferdinand Marcos     0.500000
28           34   Q1626737            Lester L. Wolff     0.500000
29           35    Q972052               Philip Habib     0.500000
..          ...        ...                        ...          ...
53           68   Q2096807          Stephen J. Solarz     0.500000
54           69    Q443777           Orlando Letelier     0.500000
55           70    Q336212  William R. Tolbert junior     0.500000
56           71      Q9161            Josip Broz Tito     0.500000
57           74    Q218443   Anastasio Somoza Debayle     0.500000
58           75    Q331742            George McGovern     0.500000
59           76   Q2158789          Robert S. Strauss     0.500000
60           78     Q49216             Walter Mondale     0.500000
61           79    Q128911               Ezer Weizman     0.500000
62           80    Q219918              Samora Machel     0.500000
63           81    Q310855          Houari Boumediene     0.500000
64           82    Q313903              B. J. Vorster     0.500000
65           83    Q311798          Yaafar al-Numeiry     0.500000
66           84   Q5080900       Charles Melvin Price     0.500000
67           85    Q719808          Elliot Richardson     0.500000
68           86  Q33700407            Andrew J. Young     0.500000
69           87  Q16005794      Charles C. Diggs, Sr.     0.500000
70           88    Q318479              Abel Muzorewa     0.500000
71           89     Q38823          Ruhollah Chomeini     0.500000
72           90   Q2158789          Robert S. Strauss     0.500000
73           91      Q2124   Valéry Giscard d'Estaing     0.500000
74           92    Q155649          Richard Holbrooke     0.500000
75           93    Q134549                Ted Kennedy     0.500000
76           94      Q1149              Indira Gandhi     0.500000
77           95    Q202006          Olusegun Obasanjo     0.500000
78           96    Q561177         Kriangsak Chamanan     1.000000
79           97   Q8008305  William E. Schaufele, Jr.     0.500000
80           98    Q156781               Mário Soares     0.500000
81           99   Q6771731     Marlene Garcia-Esperat     0.500000
82          100    Q323417        Abraham A. Ribicoff     0.500000

[83 rows x 4 columns]